<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="./stylesheets/home.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
</head>
<body>
  <header>
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="#">About Us</a></li>
			<li style="float:right"><a href="/login">Login/Register</a></li>
		</ul>
	</nav>
</header>
<main>
	<div class="products">
		<section class="product">
			<div class="product__photo">
				<div class="photo-container">
					<div class="photo-main">
						<img src="https://www.pointekonline.com/wp-content/uploads/2022/09/iphone-14-pro-max.jpg" alt="iPhone 14">
					</div>
				
				</div>
			</div>
			<div class="product__info">
				<div class="title">
					<h2>Featured product</h2>
					<h1>iPhone 14Pro Max</h1>
				</div>
				<div class="price">
					<span>₦‎350,000</span>
				</div>
				<div class="description">
					<h3>Description</h3>
					<ul>
						<li>Apple's iPhone 14 model is identical in design to the iPhone 13 model,</li>
						<li>Featuring flat edges,</li>
						<li>An aerospace-grade aluminum enclosure,</li> 
						<li>And a glass back that enables wireless charging</li>
						<li>The iPhone 14 model comes in blue, purple, midnight, starlight, and red.</li>
					</ul>
				</div>
				<div class="description">
					<h3>BENEFITS</h3>
					<ul>
						<li>Apples are nutricious</li>
						<li>Apples may be good for weight loss</li>
						<li>Apples may be good for bone health</li>
						<li>They're linked to a lowest risk of diabetes</li>
					</ul>
				</div>
				<button class="buy--btn">Buy</button>
			</div>
		</section>
	</div>
</main>
		
	<footer>
		<p>&copy; 2023 iMall Store. All rights reserved.</p>
	</footer>
</body>
</html>


