<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="./stylesheets/login.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li style="float:right"><a href="/logout">Logout</a></li>
				<li style="float:right"><a>Dashboard</a></li>
			</ul>
		</nav>
	</header>
	
	<footer>
		<p>&copy; 2023 iMall Store. All rights reserved.</p>
	</footer>
</body>
</html>
