<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="./stylesheets/products.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/products">Products</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li style="float:right"><a href="/logout">Logout</a></li>
				<li style="float:right"><a>Dashboard</a></li>
			</ul>
		</nav>
	</header>
	<div class="content">
		<div class="menu-items">
		  <div class="menu-item">
			<div class="menu-item-details">
			  <img class="second-image" src="https://placeimg.com/640/480/any" alt="Any Image">
			  <h1>Product A</h1>
			</div>
	  
			<div class="menu-item-price">
			  <span>$50</span>
			</div>
		  </div>
	  
		  <div class="menu-item">
			<div class="menu-item-details">
			  <img class="second-image" src="https://placeimg.com/640/480/any" alt="Any Image">
			  <h1>Product B</h1>
			</div>
	  
			<div class="menu-item-price">
			  <span>$50</span>
			</div>
		  </div>
	  
		  <div class="menu-item">
			<div class="menu-item-details">
			  <img class="second-image" src="https://placeimg.com/640/480/any" alt="Any Image">
			  <h1>Product C</h1>
			</div>
	  
			<div class="menu-item-price">
			  <span>$50</span>
			</div>
		  </div>
		  
		  <div class="menu-item">
			<div class="menu-item-details">
			  <img class="second-image" src="https://placeimg.com/640/480/any" alt="Any Image">
			  <h1>Product D</h1>
			</div>
	  
			<div class="menu-item-price">
			  <span>$50</span>
			</div>
		  </div>    
	  
		  <div class="menu-item">
			<div class="menu-item-details">
			  <img class="second-image" src="https://placeimg.com/640/480/any" alt="Any Image">
			  <h1>Product E</h1>
			</div>
	  
			<div class="menu-item-price">
			  <span>$50</span>
			</div>
		  </div>
		  
		  <div class="menu-item">
			<div class="menu-item-details">
			  <img class="second-image" src="https://placeimg.com/640/480/any" alt="Any Image">
			  <h1>Product F</h1>
			</div>
	  
			<div class="menu-item-price">
			  <span>$50</span>
			</div>
		  </div>
		</div>
	  </div>
	  
	
	<footer>
		<p>&copy; 2023 iMall Store. All rights reserved.</p>
	</footer>
</body>
</html>
