body {
  font-family: Arial, sans-serif;
  background-color: #c2bdbddb;
  background-image: url(https://c0.wallpaperflare.com/preview/583/859/760/flat-lay-photography-of-silver-apple-products.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
}
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
}
/* admin.css */

/* Adjust the overall height of the sidebar */
#sidebar {
  height: 100vh; /* Set the sidebar height to 100% of the viewport height */
  overflow-y: auto; /* Enable scrolling if the content exceeds the viewport height */
}

/* Style for the active and hovered navigation links */
.nav-item .nav-link {
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  background-color: #f8f9fa; /* Light gray background */
  color: #007bff; /* Blue text color */
}

/* Style for the dropdown toggle link */
.nav-item .nav-link.dropdown-toggle::after {
  content: ""; /* Remove the default dropdown arrow */
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Style for the dropdown menu */
.dropdown-menu {
  background-color: #f8f9fa; /* Light gray background */
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #e2e6ea; /* Slightly darker gray on hover */
  color: #007bff; /* Blue text color on hover */
}


